.success{
  border: 1px solid green;
  background-color: lightgreen;
  color: green;
}

.error {
  border: 1px solid red;
  background-color: lightpink;
  color: red;
}

.warning {
  border: 1px solid orange;
  background-color: lightgoldenrodyellow;
  color: orange;
}